.heroWrap
  section#inicio.heroWrap-infoCorp
    .slogan
      .titulo
        h2 #[span.verde Maestros] de la luz, #[span.verde Arquitectos] del amor, #[span.verde Expertos] en realizar:

      .content
        .content__container
          p.content__container__text
          ul.content__container__list
            li.content__container__list__item #[span.Amarillo Amarres] de Amor
            li.content__container__list__item Altares de #[span.Amarillo Prosperidad]
            li.content__container__list__item #[span.Amarillo Limpieza] Espiritual
            li.content__container__list__item Rituales de #[span.Amarillo Protección]


  .heroWrap-infoContacto
    +contacto(
      'Hoy quiero tomar la decisión',
      'Hoy haré el cambio',
      'espacio de texto',
      '+57 304 407 83 17',
      '¡me suscribo!')

