//- fixme:pendiente por revisar la identacion
main.mainContainer
  section.mainContainer-sectionUs.u-firstContent
    #nuestro_Equipo.mainContainer-head
      .mainContainer-head__icon
        i.fa.fa-users
      .mainContainer-head__title
        h2.titleUs.animated.pulse Nuestro Equipo
    .mainContainer-boxA
      article.mainContainer-boxA__body.b1
        p.mainContainer-boxA__text1 #[span Somos una hermandad espiritual experimentados en trabajos con: ] Magia Blanca, Santería, Amarres , dominación de pareja, rituales de protección.
        p Realizamos endulzamientos, conjuros de prosperidad, le alejamos a las personas no deseadas y los  amantes obsesionados, construimos altares de #[span.resInterno protección y prosperidad]. Nuestra Hermandad esta siempre dispuesta a escuchar y ayudar en todos tus #[span.resInterno problemas económicos] y emocionales, Seremos la mano amiga en tus momentos difíciles y el #[span.resInterno consejo oportuno] en tus decisiones trascendentales.
        p Nos une el propósito de ayudar en el duro camino de la vida hacia la #[span.resInterno felicidad] y la #[span.resInterno estabilidad].
    .mainContainer-contact
      .box
        .box-icon
          i.fa.fa-whatsapp
        .box-text
          p 320 200 10 30
  section.mainContainer-Service.sectionOne
    .mainContainer-Service_banner
      .mainContainer-Service_banner__icon
        i.fa.fa-heartbeat
      .mainContainer-Service_banner__title
        h2.bannerTitle1.animated.pulse ¿Sufriendo por Amor?
      .mainContainer-Service_banner__body

        article.mainContainer-Service_articleBox_ab1
          h3.fraseBody Pare de sufrir ahora
          h4.invitacionBody Comunícate GRATIS con nosotros!
          p.textoBody Le retornamos a su amor perdido a través de amarres, hacemos que regrese a usted de manera natural.
  section.mainContainer-Service.sectionTwo
    .mainContainer-Service_banner
      .mainContainer-Service_banner__icon
        i.fa.fa-dollar-sign
      .mainContainer-Service_banner__title
        h2.bannerTitle2.animated.pulse ¿Tu vida no tiene sentido?
      .mainContainer-Service_banner__body
        article.mainContainer-Service_articleBox_ab2
          h3.fraseBody Es hora de hacer un cambio, ¡ES TU VIDA!
          h4.invitacionBody Toma hoy esa decisión!
          p.emphasis Sientes como tu vida día a día sigue un rumbo sin sentido y doloroso, vez amargamente como tu economía no fluye.]
          p.textoBody Por medio de poderosos altares de protección y prosperidad sentirás como inicia una nueva vida.
  section.mainContainer-Service.sectionThree
    .mainContainer-Service_banner
      .mainContainer-Service_banner__icon
        i.fa.fa-heart
      .mainContainer-Service_banner__title
        h2.bannerTitle3.animated.pulse ¿Nada te sale bien?
      .mainContainer-Service_banner__body
        article.mainContainer-Service_articleBox_ab3
          h3.fraseBody Con los #[span.resTitulo Maestros de la luz] por fín encontrarás esa solución que te parecía imposible.
          h4.invitacionBody ¡Solo animate a dar el primer paso!
  section.containerInvit
    .containerInvit_square
      p.containerInvit_consulta Primera consulta gratis
  section#lo_que_hacemos.containerServices
    .containerServices_box
      .containerServices_box__title
        h2 Lo que Hacemos
      .containerServices_box__body.sb1
        .servicesBox_icon.sbIcon1
          i.fa.fa-venus-mars
        .servicesBox_title
          h3.sbT Amarres de Amor
        .servicesBox_text
          p No sufra más en silencio, resultados garantizados.
      .containerServices_box__body.sb2
        .servicesBox_icon.sbIcon2
          i.fa.fa-plus-square
        .servicesBox_title
          h3.sbT Magia Blanca y Santería
        .servicesBox_text
          p Rituales Poderosos para alcanzar tu felicidad.
      .containerServices_box__body.sb3
        .servicesBox_icon.sbIcon3
          i.fa.fa-heartbeat
        .servicesBox_title
          h3.sbT Regreso al ser amado
        .servicesBox_text
          p Triunfo donde la mayoría fracasa.
      .containerServices_box__body.sb4
        .servicesBox_icon.sbIcon3
          i.fa.fa-dollar-sign
        .servicesBox_title
          h3.sbT Altares de Prosperidad
        .servicesBox_text
          p Poderosos altares con excelentes resultados.
  section#contacto.containerDetail
    .containerDetail_title
      h2.titleMain MAESTROS DE LA LUZ - ARQUITECTO DEL AMOR - CHAMÁN DE PODER

    .content-width
      .slideshow
        <!-- Slideshow Items -->
        .slideshow-items
          .item
            .item-image-container
              img.item-image(src="/src/images/1.jpg")

            <!-- Staggered Header Elements -->
            .item-header
              <span class="vertical-part"><b>A</b></span>
              <span class="vertical-part"><b>m</b></span>
              <span class="vertical-part"><b>a</b></span>
              <span class="vertical-part"><b>r</b></span>
              <span class="vertical-part"><b>r</b></span>
              <span class="vertical-part"><b>e</b></span>
              <span class="vertical-part"><b>s</b></span>

            <!-- Staggered Description Elements -->
            .item-description
              <span class="vertical-part">
                <b>Amarre</b>
              </span>
              <span class="vertical-part">
                <b>de</b>
              </span>
              <span class="vertical-part">
                <b>Amor</b>
              </span>
              <span class="vertical-part">
                <b>es</b>
              </span>
              <span class="vertical-part">
                <b>lograr</b>
              </span>
              <span class="vertical-part">
                <b>la</b>
              </span>
              <span class="vertical-part">
                <b>unión</b>
              </span>
              <span class="vertical-part">
                <b>amorosa</b>
              </span>
              <span class="vertical-part">
                <b>entre</b>
              </span>
              <span class="vertical-part">
                <b>dos</b>
              </span>
              <span class="vertical-part">
                <b>personas,</b>
              </span>
              <span class="vertical-part">
                <b>Si buscas</b>
              </span>
              <span class="vertical-part">
                <b>conquistar</b>
              </span>
              <span class="vertical-part">
                <b>o</b>
              </span>
              <span class="vertical-part">
                <b>recuperar</b>
              </span>
              <span class="vertical-part">
                <b>el</b>
              </span>
              <span class="vertical-part">
                <b>amor</b>
              </span>
              <span class="vertical-part">
                <b>de</b>
              </span>
              <span class="vertical-part">
                <b>tu</b>
              </span>
              <span class="vertical-part">
                <b>pareja</b>
              </span>
              <span class="vertical-part">
                <b>o esa</b>
              </span>
              <span class="vertical-part">
                <b>persona</b>
              </span>
              <span class="vertical-part">
                <b>que</b>
              </span>
              <span class="vertical-part">
                <b>tanto</b>
              </span>
              <span class="vertical-part">
                <b>deseas.</b>
              </span>
              <span class="vertical-part">
                <b>Ahora</b>
              </span>
              <span class="vertical-part">
                <b>es tu</b>
              </span>
              <span class="vertical-part">
                <b>oportunidad.</b>
              </span>
              <span class="vertical-part">
                <b>Poderosos</b>
              </span>
              <span class="vertical-part">
                <b>Amarres</b>
              </span>


          .item
            .item-image-container
              img.item-image(src="/src/images/3.jpg")
            <!-- Staggered Header Elements -->
            <div class="item-header">
              <span class="vertical-part"><b>A</b></span>
              <span class="vertical-part"><b>l</b></span>
              <span class="vertical-part"><b>t</b></span>
              <span class="vertical-part"><b>a</b></span>
              <span class="vertical-part"><b>r</b></span>
              <span class="vertical-part"><b>e</b></span>
              <span class="vertical-part"><b>s</b></span>
            </div>
            <!-- Staggered Description Elements -->
            <div class="item-description">
              <span class="vertical-part">
                <b>Spotify</b>
              </span>
              <span class="vertical-part">
                <b>ipsum</b>
              </span>
              <span class="vertical-part">
                <b>dolor</b>
              </span>
              <span class="vertical-part">
                <b>sit</b>
              </span>
              <span class="vertical-part">
                <b>amet,</b>
              </span>
              <span class="vertical-part">
                <b>consectetur</b>
              </span>
              <span class="vertical-part">
                <b>adipiscing</b>
              </span>
              <span class="vertical-part">
                <b>elit.</b>
              </span>
              <span class="vertical-part">
                <b>Pellentesque</b>
              </span>
              <span class="vertical-part">
                <b>elementum</b>
              </span>
              <span class="vertical-part">
                <b>gravida</b>
              </span>
              <span class="vertical-part">
                <b>ex</b>
              </span>
              <span class="vertical-part">
                <b>at</b>
              </span>
              <span class="vertical-part">
                <b>maximus.</b>
              </span>
              <span class="vertical-part">
                <b>Nullam</b>
              </span>
              <span class="vertical-part">
                <b>quis</b>
              </span>
              <span class="vertical-part">
                <b>leo</b>
              </span>
              <span class="vertical-part">
                <b>ipsum.</b>
              </span>
              <span class="vertical-part">
                <b>Lorem</b>
              </span>
              <span class="vertical-part">
                <b>ipsum</b>
              </span>
              <span class="vertical-part">
                <b>Nam</b>
              </span>
              <span class="vertical-part">
                <b>consectetur</b>
              </span>
              <span class="vertical-part">
                <b>malesuada</b>
              </span>
              <span class="vertical-part">
                <b>blandit.</b>
              </span>
              <span class="vertical-part">
                <b>Mauris</b>
              </span>
              <span class="vertical-part">
                <b>vulputate</b>
              </span>
              <span class="vertical-part">
                <b>purus</b>
              </span>
              <span class="vertical-part">
                <b>id</b>
              </span>
              <span class="vertical-part">
                <b>dolor</b>
              </span>
              <span class="vertical-part">
                <b>euismod</b>
              </span>
              <span class="vertical-part">
                <b>varius.</b>
              </span>
            </div>

          .item
            .item-image-container
              img.item-image(src="/src/images/4.jpg")
            <!-- Staggered Header Elements -->
            <div class="item-header">
              <span class="vertical-part"><b>L</b></span>
              <span class="vertical-part"><b>i</b></span>
              <span class="vertical-part"><b>m</b></span>
              <span class="vertical-part"><b>p</b></span>
              <span class="vertical-part"><b>i</b></span>
              <span class="vertical-part"><b>e</b></span>
              <span class="vertical-part"><b>z</b></span>
              <span class="vertical-part"><b>a</b></span>
              <span class="vertical-part"><b>s</b></span>
            </div>
            <!-- Staggered Description Elements -->
            <div class="item-description">
              <span class="vertical-part">
                <b>Airbnb</b>
              </span>
              <span class="vertical-part">
                <b>ipsum</b>
              </span>
              <span class="vertical-part">
                <b>dolor</b>
              </span>
              <span class="vertical-part">
                <b>sit</b>
              </span>
              <span class="vertical-part">
                <b>amet,</b>
              </span>
              <span class="vertical-part">
                <b>consectetur</b>
              </span>
              <span class="vertical-part">
                <b>adipiscing</b>
              </span>
              <span class="vertical-part">
                <b>elit.</b>
              </span>
              <span class="vertical-part">
                <b>Pellentesque</b>
              </span>
              <span class="vertical-part">
                <b>elementum</b>
              </span>
              <span class="vertical-part">
                <b>gravida</b>
              </span>
              <span class="vertical-part">
                <b>ex</b>
              </span>
              <span class="vertical-part">
                <b>at</b>
              </span>
              <span class="vertical-part">
                <b>maximus.</b>
              </span>
              <span class="vertical-part">
                <b>Nullam</b>
              </span>
              <span class="vertical-part">
                <b>quis</b>
              </span>
              <span class="vertical-part">
                <b>leo</b>
              </span>
              <span class="vertical-part">
                <b>ipsum.</b>
              </span>
              <span class="vertical-part">
                <b>Lorem</b>
              </span>
              <span class="vertical-part">
                <b>ipsum</b>
              </span>
              <span class="vertical-part">
                <b>Nam</b>
              </span>
              <span class="vertical-part">
                <b>consectetur</b>
              </span>
              <span class="vertical-part">
                <b>malesuada</b>
              </span>
              <span class="vertical-part">
                <b>blandit.</b>
              </span>
              <span class="vertical-part">
                <b>Mauris</b>
              </span>
              <span class="vertical-part">
                <b>vulputate</b>
              </span>
              <span class="vertical-part">
                <b>purus</b>
              </span>
              <span class="vertical-part">
                <b>id</b>
              </span>
              <span class="vertical-part">
                <b>dolor</b>
              </span>
              <span class="vertical-part">
                <b>euismod</b>
              </span>
              <span class="vertical-part">
                <b>varius.</b>
              </span>
            </div>

          .item
            .item-image-container
              img.item-image(src="/src/images/2.jpg")
            <!-- Staggered Header Elements -->
            <div class="item-header">
              <span class="vertical-part"><b>R</b></span>
              <span class="vertical-part"><b>i</b></span>
              <span class="vertical-part"><b>t</b></span>
              <span class="vertical-part"><b>u</b></span>
              <span class="vertical-part"><b>a</b></span>
              <span class="vertical-part"><b>l</b></span>
              <span class="vertical-part"><b>e</b></span>
              <span class="vertical-part"><b>s</b></span>
            </div>
            <!-- Staggered Description Elements -->
            <div class="item-description">
              <span class="vertical-part">
                <b>Airbnb</b>
              </span>
              <span class="vertical-part">
                <b>ipsum</b>
              </span>
              <span class="vertical-part">
                <b>dolor</b>
              </span>
              <span class="vertical-part">
                <b>sit</b>
              </span>
              <span class="vertical-part">
                <b>amet,</b>
              </span>
              <span class="vertical-part">
                <b>consectetur</b>
              </span>
              <span class="vertical-part">
                <b>adipiscing</b>
              </span>
              <span class="vertical-part">
                <b>elit.</b>
              </span>
              <span class="vertical-part">
                <b>Pellentesque</b>
              </span>
              <span class="vertical-part">
                <b>elementum</b>
              </span>
              <span class="vertical-part">
                <b>gravida</b>
              </span>
              <span class="vertical-part">
                <b>ex</b>
              </span>
              <span class="vertical-part">
                <b>at</b>
              </span>
              <span class="vertical-part">
                <b>maximus.</b>
              </span>
              <span class="vertical-part">
                <b>Nullam</b>
              </span>
              <span class="vertical-part">
                <b>quis</b>
              </span>
              <span class="vertical-part">
                <b>leo</b>
              </span>
              <span class="vertical-part">
                <b>ipsum.</b>
              </span>
              <span class="vertical-part">
                <b>Lorem</b>
              </span>
              <span class="vertical-part">
                <b>ipsum</b>
              </span>
              <span class="vertical-part">
                <b>Nam</b>
              </span>
              <span class="vertical-part">
                <b>consectetur</b>
              </span>
              <span class="vertical-part">
                <b>malesuada</b>
              </span>
              <span class="vertical-part">
                <b>blandit.</b>
              </span>
              <span class="vertical-part">
                <b>Mauris</b>
              </span>
              <span class="vertical-part">
                <b>vulputate</b>
              </span>
              <span class="vertical-part">
                <b>purus</b>
              </span>
              <span class="vertical-part">
                <b>id</b>
              </span>
              <span class="vertical-part">
                <b>dolor</b>
              </span>
              <span class="vertical-part">
                <b>euismod</b>
              </span>
              <span class="vertical-part">
                <b>varius.</b>
              </span>
            </div>

        .controls
          <ul>
            <li class="control" data-index="0"></li>
            <li class="control" data-index="1"></li>
            <li class="control" data-index="2"></li>
            <li class="control" data-index="3"></li>
          </ul>
    .form
      a.contact(href="#") Escríbenos
  section.containerPromotion
    .containerPromotion_title
      H3.titleEnd ¡Consulta personalizada y confidencial!
    .containerPromotion_squareWs
      .squareWs
        P.txtWs WHATSAPP
  section.footer
    .footer-Text
      P Escribenos para ayudarte a enderezar tu vida y obtener todo lo que deseas.
      p Retiramos hechizos o brujerías.
    .footer-Head
      h2.titleMain MAESTROS DE LA LUZ - ARQUITECTO DEL AMOR - CHAMÁN DE PODER
