body{
  background-color: $prueba01;
}
.mainContainer{
  // background-color: red;
  &-sectionUs{
    // background-color: orange;
  }
  &-head{
    // background-color: blueviolet;

    &__icon{
      i.fa{
        // margin-top: 0.5rem;
        color:$resalte;
        font-size: 2rem; //Modificar en media query
      }
    }
    &__title{
      // margin-top: 0.5rem;
      color:$resalte;
    }
  }
  &-boxA{
    // background-color: chartreuse;
    color:$primario;
    margin: 0 2vw;
    span{
      color:$clAlterno;
    }

  }
  &-contact{
    // background-color: palevioletred;
    .box{
      padding: 0.1rem 1rem;
      border: 0.1vw solid $resalte;
      &-icon{
        color:$resalte;
        margin-right: 0.5rem;
        font-size: 1rem;
      }
      &-text{
        color: $resalte;
        p{
          font-size: 1rem;
        }

      }
    }
  }
  &-Service{
    background-color: yellowgreen;

    &.sectionOne{
      background-image: url('/src/images/img01_320.png');
      background-repeat: no-repeat;
      background-size: 100%;
      .mainContainer-Service_banner{
        // background-color: plum;

        &__icon{
          // background-color: red;
          height: 60%;
          margin-left: 1rem;
          color:$resalte;
          font-size: 2.5rem;
          z-index: 100;

        }
        &__title{
          background-color: $resalte;
          height: 60%;
          // margin-top: 2rem;
          padding-right: 0.5rem;
          // margin-bottom: 7%;
          // margin-top: 7%;
          .bannerTitle1{
            color: $txtResalte;
          }
        }
        &__body{
          // background-color: antiquewhite;
          // margin-top: 2vw;
          h3{
            color: aliceblue;
          }
          h4{
            color: $resalte;
            // font-size:2vw;
          }
          .textoBody{

            color: $primario;
          }
        }
      }
    }
    &.sectionTwo{
      background-image: url('/src/images/img02_320.png');
      background-repeat: no-repeat;
      background-size: 100%;
      // background-attachment: fixed;
      .mainContainer-Service_banner{

        // background-color: aqua;

        &__icon{
          // background-color: red;
          height: 60%;
          margin-right: 1rem;
          color:$resalte;
          font-size: 2.5rem;
          z-index: 100;
        }
        &__title{
          // background-color: rgb(248, 248, 255);
          height: 60%;
          padding-left: 0.5rem;
          background-color: $primario;
          .bannerTitle2{
            color: $resalte;
          }
        }
        &__body{
          // background-color: antiquewhite;
          .mainContainer-Service_articleBox_ab2{
            // background-color: maroon;

          }
          .fraseBody{
            // background-color: palevioletred;
            font-size: 1rem;
            color: aliceblue;
          }
          .invitacionBody{
            // background-color: yellowgreen;
            color: $clAlterno;
            font-size: 1.3rem;
          }
          .emphasis{
            // background-color: pink;
            color: aliceblue;
            font-style: italic;
            font-size: 0.7rem;
          }
          .textoBody{
            // background-color: fuchsia;
            color: aliceblue;
            font-size: 0.9rem;

          }

        }
      }
    }
    &.sectionThree{
      background-image: url('/src/images/img03_320.png');
      background-repeat: no-repeat;
      background-size: 100%;
      // background-attachment: fixed;
      .mainContainer-Service_banner{

        // background-color: aqua;
        &__icon{
          // background-color: red;
          color:$prueba01;
          font-size: 2.5rem;
          z-index: 100;
        }
        &__title{
          // background-color: blue;
          color: $baseredes;
          font-size: 1.5rem;;
        }
        &__body{
          // background-color: antiquewhite;
          .mainContainer-Service_articleBox_ab3{
            // background-color: maroon;

          }
          .fraseBody{
            background-color: rgba(240, 248, 255, 0.4);
            margin: 1.5rem 0;
            font-size: 1rem;
            color: black;
            span{
              color:$baseredes;
              font-size: 1rem;
            }
          }
          .invitacionBody{
            // background-color: yellowgreen;
            color: $clAlterno;
            font-size: 1rem;
          }

        }
      }

    }
  }
}
.containerInvit{
  // background-color: blueviolet;
  &_square{
    // background-color: teal;
    padding: 1rem;
    border:0.2rem solid $resalte;
  }
  &_consulta{
    color: $resalte;
    font-size: 1rem;
  }

}
.containerServices{
  // background-color: coral;
  background-image: url('/src/images/fondoUs.jpg');
  background-position: center;

  &_box{
    background-color: rgba(44, 43, 43, 0.7);

    &__title{
      // background-color: orangered;
      color: aliceblue;

    }
    &__body{
      // background-color: orchid;

      .servicesBox_icon{
        // background-color: aqua;
        color: $resalte;
        font-size: 1.5rem;

      }
      .servicesBox_title{
        // background-color: bisque;
        .sbT{
          color: $clAlterno;
        }
      }
      .servicesBox_text{
        // background-color: burlywood;
        color: aliceblue;
        font-size: 0.7rem;
      }
      &.sb1{
        // background-color: blue;

      }
      &.sb2{
        // background-color: maroon;

      }
    }
  }
}
.containerDetail{
  // background-color: cornflowerblue;

  &_title{
    .titleMain{
      // background-color: green;
      font-size: 1.2rem;
      color: aliceblue;
    }
  }
  .content-width{
    // background-color: yellow;
    // color: $color;
  }
  .form{
    // background-color: royalblue;
    .contact{
      // background-color: red;
      padding: 0.5rem;
      border: 0.1rem solid $clAlterno;
      color: $clAlterno;
      font-size: 1rem;
      a{
        list-style: none;
        text-decoration: none;
      }
    }

  }
}
.containerPromotion{
  margin-top: 1rem;
  background-color: $baseredes;

  &_title{
    // background-color: cadetblue;
    .titleEnd{
      color: aliceblue;
    }
  }
  &_squareWs{
    // background-color: violet;
    // margin: 0 20%;
    padding: 0.5rem;
    border: 0.1rem solid aliceblue;
    i{
      color: aliceblue;
      margin-right: 0.5rem;
      font-size: 1.5rem;
    }
    .txtWs{
      color: aliceblue;
      font-size: 1rem;
    }
  }
}
.footer{
  // background-color: burlywood;

  &-Text{
    // background-color: red;
    color: aliceblue;
    p{
      font-size: 1rem;
    }

  }
  &-Head{
    // background-color: plum;
    margin: 1.5vw;
    color: $resalte;

  }
}




@include mQ(xsS){
  .mainContainer{
    // background-color: red;
    &-sectionUs{
      // background-color: rebeccapurple;
    }
  }
}
@include mQ(smallS){
  .mainContainer{
    // background-color: red;
    &-sectionUs{
      // background-color: orangered;
    }

  }

}
@include mQ(mediumS){
  .mainContainer{
    // background-color: red;
    &-sectionUs{
      // background-color: yellowgreen;
    }
    &-contact{
    // background-color: palevioletred;
      .box{
        // padding: 0.1rem 1rem;
        &-icon{
          // color:$resalte;
          // margin-right: 0.5rem;
          font-size: 1.2rem;
        }
        &-text{
          color: $resalte;
          p{
            font-size: 1.2rem;
          }
        }
      }
    }

  }
}
@include mQ(wideS){
  .mainContainer{
    &-sectionUs{
      // background-color: teal;
    }
    &-head{

      &__icon{
        i.fa{
          // margin-top: 0.5rem;
          font-size: 2.5rem;
        }
      }
      &__title{
        // margin-top: 0.5rem;
        // color:$resalte;
      }
    }
  }
}
@include mQ(largeS){
  .mainContainer{
    // background-color: red;
    &-sectionUs{
      // background-color: violet;
    }
  }
}
@include mQ(xlS){
  .mainContainer{
    // background-color: red;
    &-sectionUs{
      // background-color: mediumspringgreen;
    }
    &-Service{
    background-color: yellowgreen;

    &.sectionOne{
      background-image: url('/src/images/img01.png');
      background-repeat: no-repeat;
      background-size: 100%;
      .mainContainer-Service_banner{
        // background-color: olivedrab;

        &__icon{
          // background-color: red;
          margin-left: -2vw;
          color:$resalte;
          font-size: 5vw;
          z-index: 100;

        }
        &__title{
          background-color: $resalte;
          margin-right: 3vw;
          margin-bottom: 7%;
          margin-top: 7%;
          .bannerTitle1{
            color: $txtResalte;
          }
        }
        &__body{
          // background-color: antiquewhite;
          // margin-top: 2vw;
          h4{
            color: $resalte;
            // font-size:2vw;
          }
          .textoBody{

            color: $primario;
          }
        }
      }
    }
    &.sectionTwo{
      background-image: url('/src/images/img02.png');
      background-repeat: no-repeat;
      background-size: 100%;
      // background-attachment: fixed;
      .mainContainer-Service_banner{

        // background-color: aqua;

        &__icon{
          // background-color: red;
          // margin-left: -2vw;
          color:$resalte;
          font-size: 5vw;
          z-index: 100;
        }
        &__title{
          // background-color: rgb(248, 248, 255);
          background-color: $primario;
          // margin-right: 3vw;
          // margin-bottom: 7%;
          // margin-top: 7%;
          .bannerTitle2{
            color: $resalte;
          }
        }
        &__body{
          // background-color: antiquewhite;
          .mainContainer-Service_articleBox_ab2{
            // background-color: maroon;

          }
          .fraseBody{
            // background-color: palevioletred;
            font-size: 4vh;
            color: aliceblue;
          }
          .invitacionBody{
            // background-color: yellowgreen;
            color: $clAlterno;
            font-size: 5vh;
          }
          .emphasis{
            // background-color: pink;
            color: aliceblue;
            font-style: italic;
            font-size: 1.5vh;
          }
          .textoBody{
            // background-color: fuchsia;
            color: aliceblue;

          }

        }
      }
    }
    &.sectionThree{
      background-image: url('/src/images/img03.png');
      background-repeat: no-repeat;
      background-size: 100%;
      // background-attachment: fixed;
      .mainContainer-Service_banner{

        // background-color: aqua;
        &__icon{
          // background-color: red;
          color:$prueba01;
          font-size: 5vw;
          z-index: 100;
        }
        &__title{
          // background-color: blue;
          color: $baseredes;
          font-size: 6vw;
        }
        &__body{
          // background-color: antiquewhite;
          .mainContainer-Service_articleBox_ab3{
            // background-color: maroon;

          }
          .fraseBody{
            // background-color: palevioletred;
            font-size: 3vh;
            color: black;
            span{
              color:$baseredes;
              font-size: 3vh
            }
          }
          .invitacionBody{
            // background-color: yellowgreen;
            color: $baseredes;
            font-size: 3vw;
          }

        }
      }

    }
  }
  }
}
