// body{
  // background-color: $prueba01;
// }
.heroWrap{
  // background-color: $color;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 60% 30%;
  .slogan{
    // background-color: blue;
    @include centerFlex();
    flex-wrap: wrap;
    .titulo{
      // background-color: aquamarine;
      text-align: center;
    }
    .content{
      // background-color: royalblue;
    }
  }
  &-infoCorp{
    // background-color: gold;
    grid-row: 2 / 3;
    @include centerFlex();
  }
  &-infoContacto{
    // background-color: orangered;
    grid-row: 3 / 4;
    @include centerFlex();
  }
}
.mainContainer{
  // background-color: red;
  &-sectionUs{
    // background-color: purple;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 75% 10%;
  }
  &-head{
    // background-color: blueviolet;
    margin-top: 0.5rem;
    grid-row: 1 / 2;
    @include centerFlex();
    &__icon{
      // background-color: palevioletred;
      margin-right: 0.5rem;
      // grid-column: 1 / 2;
      // display: flex;
      // display: grid;
      // justify-content: end;
      // align-content: center;
    }
    &__title{
      // background-color: orange;
      // grid-column: 2 / 3;
    }
  }
  &-boxA{
    // background-color: chartreuse;
    grid-row: 2 / 3;
    @include centerFlex();
    text-align: center;
  }
  &-contact{
    // background-color: rgb(240, 64, 231);
    grid-row: 3 / 4;
    @include centerFlex();
    // display: grid;
    // justify-content: center;
    // align-content: center;
    .box{
      // background-color: green;
      // width: 15vw;
      // display: grid;
      // justify-content: center;
      // grid-template-columns: 30% 70%;
      @include centerFlex();
      &-icon{
        // background-color: rgb(213, 233, 250);
        // grid-column: 1 / 2;
        // display: grid;
        // justify-content: center;
        // align-content: center;
      }
      &-text{
        // background-color: aqua;
        // display: grid;
        // justify-content: center;
        // align-content: center;
        // grid-column: 2 / 3;

      }
    }
  }
  &-Service{
    // background-color: peru;
    // height: 67vh;
    // width: 100vw;
    &.sectionOne{
      .mainContainer-Service_banner{
        // background-color: olivedrab;
        height: 60vh;
        // width: 100vw;
        // padding-top: 2vh;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 40% 60%;
        justify-content: flex-start;
        align-content: center;
        &__icon{
          // background-color: red;
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        &__title{
          // background-color: navy;
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          // text-align: start;
          text-align: end;
          display: grid;
          justify-content: flex-end;
          align-content: center;
        }
        &__body{
          // background-color: blueviolet;
          grid-column: 1 / 3;
          grid-row: 2 / 3;
          @include centerFlex();
          text-align: center;
          // display: grid;
          // justify-content: flex-start;
          // grid-template-rows: 20% 60% 20%;
          .mainContainer-Service_articleBox_ab1{
            // background-color: maroon;
            // height: 100%;
            // grid-column: 1 / 3;
            // grid-row: 2 / 3;
            // text-align: center;
            // display: grid;
            // justify-content: flex-start;
            // grid-template-rows: 10% 20% 15%;

          }
          .fraseBody{
            // background-color: palevioletred;
            // grid-row: 1 / 2;
            // display: grid;
            // justify-content: center;
            // align-content: center;
          }
          .invitacionBody{
            // background-color: yellowgreen;
            // grid-row: 2 / 3;
            // display: grid;
            // justify-content: center;
            // align-content: center;
          }
          .textoBody{
            // background-color: fuchsia;
            // grid-row: 3 / 4;
          }

        }
      }
    }
    &.sectionTwo{
      .mainContainer-Service_banner{
        height: 60vh;
        // width: 100vw;
        // padding-top: 2vh;
        // background-color: aqua;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 30% 70%;
        justify-content: flex-end;
        align-content: center;
        // text-align:center ;
        &__icon{
          // background-color: red;
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          // align-content: center;
        }
        &__title{
          // background-color: rgb(248, 248, 255);
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          // text-align: start;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        &__body{
          // background-color: green;
          grid-column: 1 / 3;
          grid-row: 2 / 3;
          // text-align: center;
          // display: grid;
          // justify-content: flex-start;
          // grid-template-rows: 20% 60% 20%;
          .mainContainer-Service_articleBox_ab2{
            // background-color: maroon;
            height: 100%;
            // grid-column: 1 / 3;
            // grid-row: 2 / 3;
            text-align: center;
            display: grid;
            justify-content: flex-end;
            grid-template-rows: 15% 15% 35% 35%;

          }
          .fraseBody{
            // background-color: palevioletred;
            grid-row: 1 / 2;
            display: grid;
            justify-content: center;
            align-content: center;
          }
          .invitacionBody{
            // background-color: yellowgreen;
            grid-row: 2 / 3;
            display: grid;
            justify-content: center;
            align-content: center;
          }
          .emphasis{
            // background-color: pink;
            grid-row: 3 / 4;
            display: flex;
            // justify-content: center;
            align-items: center;
          }
          .textoBody{
            // background-color: fuchsia;
            grid-row: 4 / 5;
            // display: grid;
            // justify-content: center;
            // align-content: center;
          }

        }
      }
    }
    &.sectionThree{
      .mainContainer-Service_banner{
        height: 70vh;
        // padding-top: 2vh;
        // background-color: aqua;
        display: grid;
        grid-template-rows: 10% 20% 70%;
        justify-content: center;
        align-content: center;
        // text-align:center ;
        &__icon{
          // background-color: red;
          grid-row: 1 / 2;
          @include centerFlex();
        }
        &__title{
          // background-color: blue;
          grid-row: 2 / 3;
          // text-align: start;
          @include centerFlex();
        }
        &__body{
          // background-color: antiquewhite;
          grid-row: 3 / 4;
          // text-align: center;
          // display: grid;
          // justify-content: flex-start;
          // grid-template-rows: 20% 60% 20%;
          .mainContainer-Service_articleBox_ab3{
            // background-color: maroon;
            height: 100%;
            text-align: center;
            display: grid;
            justify-content: center;
            grid-template-rows: 65% 35% ;

          }
          .fraseBody{
            // background-color: palevioletred;
            // width: 100vw;
            grid-row: 1 / 2;
            display: grid;
            // text-align: center;
            justify-content: center;
            align-content: center;
          }
          .invitacionBody{
            // background-color: yellowgreen;
            grid-row: 2 / 3;
            // display: grid;
            // text-align: center;
            // justify-content: center;
            // align-content: center;
          }

        }
      }

    }
  }
}
.containerInvit{
  // background-color: blueviolet;
  // width: 100vw;
  height: 15vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
.containerServices{
  // background-color: coral;
  // width: 100vw;
  height: 100vh;
  // grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 2.5% 95% 2.5%;
  grid-template-rows: 10% 80% 10%;
  justify-content: center;
  align-content: center;
  // align-items: center;
  &_box{
    // background-color: olive;
    // width: 90%;
    // height: 90%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 20% 40% 40%;
    // justify-content: center;
    // align-content: center;
    @include centerFlex();
    flex-wrap: wrap;
    &__title{
      // background-color: orangered;
      width: 100%;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      display: grid;
      justify-content: center;
      align-content:  center;
    }
    &__body{
      // background-color: orchid;
      width: 100%;
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: 20% 80%;
      grid-template-rows: 50% 50%;
      .servicesBox_icon{
        // background-color: aqua;
        grid-column: 1 /2;
        grid-row: 1 / 3;
        // margin: 0 auto;
        // display: grid;
        // justify-content: center;
        // align-content: center;
        @include centerFlex();
      }
      .servicesBox_title{
        // background-color: bisque;
        grid-row: 1 / 2;
      }
      .servicesBox_text{
        // background-color: burlywood;
      }
      // &.sb1{
        // background-color: blue;
      //   grid-column: 1 / 2;
      //   // grid-row: 2 / 3;
      // }
      // &.sb2{
        // background-color: maroon;
      //   grid-column: 1 / 2;
      //   // grid-row: 3 / 4;
      // }
    }
  }
}
.containerDetail{
  // background-color: cornflowerblue;
  // margin-top: 3%;
  padding-top: 4%;
  // width: 100vw;
  height: 100%;
  // display: grid;
  // justify-content: center;
  // align-content: center;
  // @include centerFlex();
  // flex-wrap: wrap;
  &_title{
    // background-color: green;
    text-align: center;
    // width: 100%;
  }
  .content-width{
    // background-color: yellow;
  }
  .form{
    // background-color: royalblue;
    margin-top: -4%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
.containerPromotion{
  // background-color: firebrick;
  height: 20vh;
  @include centerFlex();
  flex-wrap: wrap;
  &_title{
    // background-color: cadetblue;
    text-align: center;
    width: 100%;
  }
  &_squareWs{
    // background-color: violet;
    // width: 100%;
    @include centerFlex();
    .squareWs{
      // background-color: yellow;
      @include centerFlex();
    }
  }
}
.footer{
  // background-color: burlywood;
  // width: 100vw;
  height: 35vh;
  @include centerGrid();
  &-Text{
    // background-color: red;
    margin-bottom: 1rem;
    text-align: center;
    display: grid;
    justify-content: center;
    align-content: center;
    // height: 40%;
  }
  &-Head{
    // background-color: plum;
    text-align: center;
  }
}




@include mQ(xsS){
  body{
    // background-color: rebeccapurple;
  }
}
@include mQ(smallS){
  body{
    // background-color: orangered;
  }
  .mainContainer{
  // background-color: red;
    &-sectionUs{
      // background-color: blue;
      height: 70vh;
      grid-template-rows: 10% 70% 20%;
    }
  }
}
@include mQ(mediumS){
  body{
    // background-color: yellowgreen;
  }
  .mainContainer{
  // background-color: red;
    &-sectionUs{
      // background-color: purple;
      grid-template-rows: 10% 60% 30%;
      // height: 60vh;
    }
  }
}
@include mQ(wideS){
  body{
    // background-color: teal;
  }
  .mainContainer{
  // background-color: red;
    &-sectionUs{
      // background-color: red;
      grid-template-rows: 10% 60% 30%;
      // height: 60vh;
    }
  }
  .containerServices{
  // background-color: blueviolet;
  // width: 100vw;
  height: 100vh;
  // grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 2.5% 95% 2.5%;
  grid-template-rows: 10% 80% 10%;
  justify-content: center;
  align-content: center;
  // align-items: center;
  &_box{
    // background-color: olive;
    // width: 90%;
    // height: 90%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 40% 40%;
    justify-content: center;
    align-content: center;
    // @include centerFlex();
    // flex-wrap: wrap;
    &__title{
      // background-color: orangered;
      width: 100%;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      display: grid;
      justify-content: center;
      align-content:  center;
    }
    &__body{
      // background-color: orchid;
      width: 100%;
      display: grid;
      justify-content: center;
      align-content: center;
      grid-template-columns: 20% 80%;
      grid-template-rows: 50% 50%;
      .servicesBox_icon{
        // background-color: aqua;
        grid-column: 1 /2;
        grid-row: 1 / 3;
        // margin: 0 auto;
        // display: grid;
        // justify-content: center;
        // align-content: center;
        @include centerFlex();
      }
      .servicesBox_title{
        // background-color: bisque;
        grid-row: 1 / 2;
      }
      .servicesBox_text{
        // background-color: burlywood;
      }
      // &.sb1{
        // background-color: blue;
      //   grid-column: 1 / 2;
      //   // grid-row: 2 / 3;
      // }
      // &.sb2{
        // background-color: maroon;
      //   grid-column: 1 / 2;
      //   // grid-row: 3 / 4;
      // }
    }
  }
}
}
@include mQ(largeS){
  body{
    // background-color: violet;
  }
}
@include mQ(xlS){
  body{
    // background-color: fuchsia;
  }
}
